.container {
  justify-content: space-between;
  display: flex;
  padding: 0 2rem;
  margin-top: 1rem;
  border-bottom: 1px solid black;
  height: 90px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

.boxLeft {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
}

.searchInput {
  margin-left: 2rem;
  padding-left: 16px;
  width: 300px;
  height: 30px;
  border-radius: 10px;
}

.menu {
  display: flex;
  margin-top: 1rem;
}

.market {
  margin-top: 0.7rem;
  margin-right: 7rem;
}

.feed {
  margin-top: 0.7rem;
  margin-right: 7rem;
}

.stake {
  margin-top: 0.7rem;
  margin-right: 7rem;
}

.dao {
  margin-top: 0.7rem;
  margin-right: 7rem;
}

.wallet {
  background-color: aliceblue;
  border-radius: 30px;
  border-color: grey;
  height: 40px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 390px ) and (max-height:844px) {
  .container {
    justify-content: space-between;
    display: flex;
    padding: 0 2rem;
    margin-top: 1rem;
    border-bottom: 1px solid black;
    height: 90px;
    width: 1020px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
  }

  .boxLeft {
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
    margin-right: 2rem;
  }

  .searchInput {
    margin-left: 2rem;
    padding-left: 16px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
  }

  .menu {
    display: flex;
    margin-top: 1rem;
  }

  .market {
    margin-top: 0.7rem;
    margin-right: 3rem;
  }

  .feed {
    margin-top: 0.7rem;
    margin-right: 3rem;
  }

  .stake {
    margin-top: 0.7rem;
    margin-right: 3rem;
  }

  .dao {
    margin-top: 0.7rem;
    margin-right: 3rem;
  }

  .wallet {
    background-color: aliceblue;
    border-radius: 30px;
    border-color: grey;
    height: 40px;
    width: 160px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
  }

}