.nftContainer {
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.nftBody {
    display: flex;
    border: 15px;
    width: 900px;
    margin: 8rem auto;
    /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);  */
}

.nftText {
    width: 400px;
    margin: 2rem auto;
    border: 15px;
    /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); */
}

/* .nftTitle{

} */

.nftSubtext1 {
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 4rem;
    display: flex;
}

.nftSubtext2 {
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 4rem;
    display: flex;
}

.placeBid {
    background-color: #0091EA;
    border-radius: 30px;
    border-color: #0091EA;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}


@media screen and (max-width: 390px) and (max-height:844px) {
    .nftContainer {
        justify-content: center;
        text-align: center;
        box-sizing: border-box;
        font-family: 'Courier New', Courier, monospace;
    }

    .nftBody {
        display: flex;
        border: 15px;
        width: 900px;
        margin: 8rem 6rem;
    }

    .nftText {
        width: 400px;
        margin: 2rem auto;
        border: 15px;
    }
    .nftSubtext1 {
        justify-content: space-between;
        margin-left: 3rem;
        margin-right: 4rem;
        display: flex;
    }

    .nftSubtext2 {
        justify-content: space-between;
        margin-left: 3rem;
        margin-right: 4rem;
        display: flex;
    }

    .placeBid {
        background-color: #0091EA;
        border-radius: 30px;
        border-color: #0091EA;
        color: white;
        padding: 10px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-family: 'Courier New', Courier, monospace;
    }

}